body {
    margin: 0;
    padding: 0;
    top: 0;
    -webkit-font-smoothing: antialiased;
    min-width: 320px;
    min-height: auto;
    font-family: sans-serif;
    -webkit-outline: none;
    -moz-outline: none;
    -ms-outlne: none;
    outline: none;   
    display: flex;
    min-width: 320px;
    min-height: auto;
    background: rgb(177, 116, 116);
}

*{
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:-webkit-any-link {
    text-decoration: none;
}

:-moz-any-link {
    text-decoration: none;
}

:any-link {
    text-decoration: none;
}